<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="pt-5">
                <h1 i18n class="fw-bold text-center">About Us</h1>

                <div class="d-flex align-items-center justify-content-center">
                    <p i18n class="line-height">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis enim nesciunt dolore quibusdam, obcaecati necessitatibus, dignissimos ipsum autem debitis quia saepe earum suscipit iusto? Fuga, modi! Impedit, mollitia? Ut, soluta.
                    Quasi, laborum exercitationem. Eius aliquid sed excepturi tempora quod delectus culpa dicta unde officiis explicabo quos expedita sit eligendi quia suscipit laboriosam, perferendis nam doloribus tenetur quasi odit possimus atque!
                    Necessitatibus, alias harum. Suscipit, fugit. Corrupti eligendi, sint illum enim quia velit sit accusantium a earum esse tempore ullam laudantium impedit facere eos nobis, necessitatibus rerum praesentium! Itaque, laudantium placeat?
                    Fugit id fuga in qui itaque porro laboriosam, voluptate recusandae consectetur, eligendi illo cumque minus iste magnam quidem. Soluta velit veniam voluptatem assumenda aut laboriosam odit placeat. Maiores, harum dolorem.
                    Quis dolor sint libero corporis optio quaerat, numquam ea, atque aperiam, fugiat maiores voluptate repudiandae! A beatae sequi perspiciatis nemo labore corporis doloremque possimus, id consectetur fugiat? Esse, rem quis?
                    Omnis voluptas reiciendis ratione dolore maiores! Maxime distinctio dignissimos expedita, vero exercitationem excepturi unde nesciunt tempora aliquid quas dolores qui saepe nostrum atque dolorem amet itaque omnis architecto in porro?
                    Nisi laboriosam veniam delectus beatae voluptate debitis, sunt soluta assumenda ex? Numquam animi modi ducimus est distinctio, beatae similique atque repellat aut obcaecati dolorem alias eaque molestias, quis suscipit laborum?
                    Voluptate unde reiciendis obcaecati delectus nostrum iure maiores totam! Molestias pariatur eligendi harum voluptates voluptatum minus doloremque! Consectetur repudiandae consequuntur autem aperiam? Accusantium et facilis aliquam dolor? Unde, voluptas voluptatem.
                    Placeat, minus odio saepe, vel sequi perspiciatis tempore repellat deserunt nulla quas laudantium a, corporis quaerat ullam voluptatibus quod omnis ipsa autem dolore dolor nihil aliquam. Molestias quaerat error a!
                    Laborum consectetur illum a ea iure praesentium cumque! Exercitationem natus possimus quae, placeat nobis dolorum, aperiam quidem, sunt soluta laudantium esse dolorem dicta eius temporibus quibusdam tempora quis libero quia.</p>
                </div>
            </div>
        </div>
    </div>
</div>